/*-- scss:defaults --*/

$presentation-font-size-root: 30px;
$presentation-h1-font-size: 2.7em;
$code-block-font-size: 0.6em;

$body-color: #133C55;
$code-color: #133C55;
$link-color: #818181;


/*-- scss:rules --*/

.orange {
  color: #DF8C16;
}

.center-h {
  display:flex;
  justify-content:center;
  align-items:center;
}

.circular-square {
  border-radius: 50%;
}

@mixin one-line-title {
  //text-align: left;
  font-size: 2.7em;
  margin-top: 2.2em;
  margin-bottom: 1.25em;
}

@mixin two-lines-title {
  text-align: left;
  font-size: 2.6em;
  margin-top: 1.3em;
  margin-bottom: 1.15em;
}

@mixin project-date-author {
  //text-align: left;
  margin-left: 6.5%;
  line-height: 1em;
}

.titleslide {
  
  h2 {
    @include one-line-title;
  }
  p {
    @include project-date-author;
  }
  
  
}

.titleslide-long {
  
  h2 {
    @include two-lines-title;
  }
  p {
    @include project-date-author;
  }
  
}